.main{
    height: 800px;
    margin-top: 80px;
    margin-left: 350px;
    margin-right: 350px;
    background-color: #A9CBD7;
    border-radius: 60px 60px;
    padding-top:50px;
    margin-bottom: 0px;
}
.maintext{
    color: black;
    margin: 0px;
    font-weight: bold;
    font-size: 35px;
    display: flex;
    justify-content: center;
}
p{font-weight: bold; font-size: 15px; }
#id{margin-right: 300px; margin-bottom: 5px;}
#pw{margin-right: 250px;margin-bottom: 5px;}
.write{
    text-align: center;
    margin-top:120px;
}
input{
    border-radius: 20px;
    text-decoration: none;
    border: none;
    width: 340px;
    height: 40px;
    margin: 0px;
    outline: none;
}
#s{margin-bottom: 30px;}

.btn1{
    padding: 15px 150px;
    border-radius: 30px;
    border: none;
    background-color: #000FFF;
    color: #fff;
    margin-top: 70px;
    font-size: 20px;
}